.search{
    border: 1px solid #ccc;
    width: 40%;
    height: 40px;
    border-radius: 60px;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 2px 10px;
    background-color: #fff;
}

.search_input{
    width: 100%;
    border: none;
    outline: none;
    background-color: #fff;
}