.header{
    width: 100vw;
    height: 60px;
    position: fixed;
    background-color: #fff;
    z-index: 100;
    -webkit-backface-visibility: hidden;
    /* box-shadow:  2px 3px 0 rgba(0,0,0,.15); */
}

header::before {
    box-shadow: 2px 3px 0 rgba(0,0,0,.15); 
   }
    
   header::after {
    background: 2px 3px 0 rgba(0,0,0,.15); 
   }

.header_content{
    width: 80vw;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hamburger{
    display: none;
}

.mobileMenu{
    display: none;
}

.logo{
    height: 36px;
}

.search{
    width: 90%;
}

.search_input{
    width: 90%;
    border: none;
    outline: none;
}

.navBar{
    display: flex;
    gap: 10px;
    align-items: center;
}

.drawerContainerHide{
    display: none;
}

.drawerContainer{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-top: 50px;
}

.drawerContainer ul{
    margin: 0;
    padding: 10px;
}

.drawerContainer ul li{
    list-style: none;
    margin: 0;
    padding: 5px;
    font-weight: 500;
}

@media only screen and (max-width: 800px) {
    .search{
        display: none;
    }
    .navBar{
        display: none;
    }

    .header_content{
        width: 95vw;
    }

    .hamburger{
        display: block;
    }

    .mobileMenu{
        display: flex;
    }

    .mobileMenu svg{
        font-size: 24px;
    }
    
    .hamburger svg{
        font-size: 24px;
    }
  }

  .avatar{
    background-color: #62b8ff;
    border-radius: 60px;
    width: 40px;
    height: 40px;
    color:#fff;
    display: grid;
    place-content: center;
    font-size: 18px;
    font-weight: 600;
  }