.chiplist {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    margin-top: 20px;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.chiplist::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

@media only screen and (max-width: 800px){
    .chiplist{
        padding-left: 10px;
    }
}